<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/alltweets">
<h4>
         tweeet something 
        </h4>

        <!-- Subheading -->
        <p >
        Please fill up your post information
        </p>

        <!-- Email -->
        <div>
            <label>title address*</label>
            <div>
                <input type="text"  name="title" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>text*</label>
            <div class="input-group">
                <input type="text"  name="text" maxlength="280">
            </div>
        </div>
     
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
    <br>




    Great Job!
</body>
</html>